.Testimonials {
  /* الكارت العادي */
  .testimonial-card {
    transform: scale(0.95);
    opacity: 0.7;
  }

  /* الكارت الـ active */
  .swiper-slide-active .testimonial-card {
    transform: scale(1.05);
    opacity: 1;
  }
}
